body {
	-webkit-text-size-adjust: none;
}

div.navbar a.brand {
	position: relative;
	padding-left: 60px;
}

div.navbar a.brand img {
	position: absolute;
	bottom: -16px;
	left: -24px;
}

.node-container > .header {
	display: inline-block;
	vertical-align: top;
}

.node-container > .body {
	position: relative;
}

ul.tree,
ul.tree ul {
	margin: 0;
	list-style-type: none;
}

ul.tree ul ul,
div.interface {
	list-style-type: none;
	margin: 0 0 0 16px;
}

ul.tree ul li.node {
	position: relative;
	margin: 4px 0;
}

ul.tree ul li.node-new {
	background-color: #ffc;
}

div.interface {
	position: relative;
	margin-top: 4px;
}

ul.tree li.node-root > div.interface,
ul.tree li.node-root > div.node-container div.body {
	margin-bottom: 8px;
}

ul.tree > ul {
	margin: 16px 0;
}

ul.tree > li.node > ul > li.node {
	box-shadow: 0 0 3px #ddd;
	border: 1px solid #ddd;
	margin-bottom: 8px;
	border-radius: 4px;
	padding: 4px;
}

ul.tree li.node ul li.node ul li.node div.node-container:before,
div#post:before {
	content: "";
	height: auto;
	position: absolute;
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	top: -2px;
	padding-left: 8px;
	left: -8px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 4px;
}

@media (max-width: 480px) {
ul.tree > li.node > ul > li.node {
	box-shadow: none;
}

ul.tree ul ul {
	margin: 0 0 0 12px;
}

ul.tree li.node ul li.node ul li.node div.node-container:before {
	padding-left: 4px;
	left: -4px;
}
}
 
@media (max-width: 767px) {
ul.tree > li.node > ul > li.node {
	box-shadow: none;
}

ul.tree ul ul {
	margin: 0 0 0 12px;
}

ul.tree li.node ul li.node ul li.node div.node-container:before {
	padding-left: 4px;
	left: -4px;
}
}

li.node-omit {
	background-color: #dddde4;
}

li.node-removed > div.node-container div.title {
	color: #bbb;
}

li.node-removed > div.node-container div.info .name,
li.node-removed > div.node-container div.info .time {
	opacity: 0.5;
}

div.node-container div.root-header {
	float: right;
}

div.node-container a.write-res,
div.node-container a.remove-post {
	opacity: 0.2;
}

li.node-root > div.node-container a.write-res,
div.node-container a.write-res:hover,
div.node-container a.remove-post:hover {
	opacity: 1;
}

div.node-container {
	padding: 2px;
}

div.node-container div.title {
	font-family: 'ＭＳ Ｐゴシック','MS PGothic','Mona','mona-gothic-jisx0208.1990-0',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 0 0;
	word-wrap: break-word;
}

div.node-container div.info {
	display: inline-block;
	background-color: #f0f8ff;
	border-radius: 4px;
	padding-right: 4px;
}

div.node-container div.file a {
	z-index: 101;
	position: relative;
}

div.node-container div.file a:hover {
	opacity: 0;
}

div.node-container div.file a img {
	border-radius: 4px;
	box-shadow: 1px 1px 4px #888;
}

div.node-container div.file img.full {
	border: 8px #fff solid;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px #888;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	max-width: none;
}

div.node-container .time {
	font-size: 8pt;
	color: #00f;
	margin-left: 4px;
}

img.avatar-mini {
	border-radius: 3px;
}

a.more.disabled {
	cursor: default;
	opacity: 0.5;
}

/* profile */

div.profile img {
	border-radius: 8px;
	box-shadow: 0 1px 6px #bbb;
}
